html {
    padding: 0;
    margin:  0;
}
body {
    padding: 0;
    margin:  0;
    font-family: Arial;
}
table {
    border-collapse: collapse;
}
td {
    background: #f0f0f0;
    padding: 4px;
}
td.odd {
    background: white;
}
